body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Halványabb szürke háttér */
}

.card {
  position: relative;
  max-width: 350px; /* Szélesség növelése a tartalomhoz */
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
  color: #fff; /* Fehér szöveg */
  padding: 20px; /* Növelt belső tér */
  box-shadow: 15px 15px 80px 3px black; /* Adding a subtle shadow */
  background-color: #1b1b1b; /* Fekete háttér */
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45.33%; /* Felső harmad magassága */
  background-color: #d4af37; /* Arany háttérszín a felső harmadban */
  border-radius: 10px 10px 20px 20px; /* Kerekítés csak az felső sarkoknál */
}

.header {
  position: relative;
  padding-bottom: 20px; /* Növelt belső tér a fejléc alatt */
}

.header img {
  width: 150px;
  height: 150px;
  
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  margin-top: 0;
  
}

.contact-info {
  margin-top: 25px;
}

.contact-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Növelt tér az egyes elemek között */
}

.contact-icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Fehér ikon háttér */
  border-radius: 50%;
  margin-right: 10px;
}

.contact-item p {
  flex: 1;
  margin: 0;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #fff; /* Fehér háttér az alsó két harmadban */
  color: #0066cc; /* Kék szöveg az alsó két harmadban */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.contact-item i {
  font-size: 18px;
  color: #997F28; /* Kék ikon szín az alsó két harmadban */
}

.contact-value {
  width: calc(100% - 52px);
  margin: 0;
  padding: 8px 36px 8px 16px;
  border-radius: 30px;
  background-color: #fff; /* Fehér háttér az alsó két harmadban */
  color: #fff; /* Kék szöveg az alsó két harmadban */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.contact-value a {
  color: #997F28; /* Kék link szín az alsó két harmadban */
  text-decoration: none;
}

.contact-value a:hover {
  text-decoration: underline;
}

.social-links {
  margin-top: 20px;
}

.social-links a,
.social-links button {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  color: #997F28; /* Kék ikon szín az alsó két harmadban */
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff; /* Fehér ikon háttér az alsó két harmadban */
  transition: background-color 0.2s ease-in-out;
}

.social-links a:hover,
.social-links button:hover {
  background-color: #997F28; /* Kék ikon háttér a hover-nél az alsó két harmadban */
  color: #fff; /* Fehér ikon szín a hover-nél az alsó két harmadban */
}

#profil_pic {
  filter: grayscale(70%);
  transform: scale(1.0);
  transition: transform 0.5s ease-in-out;
  border: 4px solid #fff; /* Fehér keret az alsó két harmadban */
}

#profil_pic:hover {
  filter: grayscale(20%);
  transform: scale(1.1); /* Kissé nagyobb méretezés a hover-nél az alsó két harmadban */
}
